*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
@keyframes pan {
  0%   {left:0px; top:0px;}
  25%  {left:20px; top:0px;}
  50%  {left:30px; top:10px;}
  75%  {left:10px; top:10px;}
  100% {left:0px; top:0px;}
}